.about-me-flex-container {
  justify-content: space-evenly;
}

.about-me-icons a {
  text-decoration: none;
  color: #a5a4a5;
}

.about-me-icons a:visited {
  color: #a5a4a5;
}

.brand-icons-fa:hover{
  color: #1db954;
}