.main-container {

}
.main-section-flex-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
}

.nav-bar-flex-item {
  flex: 1;
  background-color: #0f0d0f;
  background: linear-gradient(#252225,#090809);
  width: 220px;
}

.main-playground-flex-item {
  flex: 6;
  background: linear-gradient(#090809,#252225); /* Standard syntax */
  border: 1px solid black;
  //for scroll action
  overflow-y: auto;
}

.media-player-flex-item {
  height: 100px;
  background-color: #282828;
  border: 1px solid black;

}
