.media-player-container {
  height: inherit;
}


.media-player-flex-container{
  justify-content: space-between;
}

.thumb-info-image-container{
  justify-content: center;
  padding: 20px;
}

.thumb-info-image-container img{
  width: 80px;
  height: 80px;
}

.thumb-song-details{
  justify-content: center;
  padding: 10px;
}

.thumb-song-name{
  margin-bottom: 10px;
}

.media-player-control-flex-container {
  justify-content: space-evenly;
  width: 60%;
}

.media-player-playback-controls{
  justify-content: inherit;
}

.media-player-progress{
  justify-content: center;
  width: 100%;
}

.media-player-progress progress{
  width: 100%;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}


.current-song-display-flex-container {
  min-height: 120px;
  width: 350px;
}

 .media-player-playback-controls > *{

 }

 progress[value]{
   //background-color: #1db954;
  // border-radius: 100px;
  // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.volume-media-flex-container{
  justify-content: center;
  padding: 10px;
  width: 200px;
}

.volume-media-icon {
  align-self: center;
  margin-right: 15px;
}
