.media-info-flex-container {
  height: 250px;
  width: 250px;
  justify-content: center;
  align-items: center;

}

.media-info-image-container {
  align-content: center;
  justify-content: center;
  cursor: pointer;
}
.media-info-image-container img {
  margin: 0 auto;
  max-width: 85%;
  max-height: 85%;
  border-radius: 100px;
}

.media-info-image-container:hover img {
  opacity: 0.3
}
.media-info-image-container:hover {
  background-image: url(https://s3-us-west-1.amazonaws.com/aalfarho-axo/images/play-button-icon.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.media-info-footer {
  margin-top: 35px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: end;
  align-self: center;
}
.media-info-footer a:hover{
    color: #1db954;
}

.media-info-link {
    font-size: 30px;
}

.media-info-link a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.media-info-author {
  font-family: 'Open Sans', sans-serif;
  color: grey;
}

.media-info-author a {
  text-decoration: none;
  color: grey;
}
