.search-root-flex-container {
  color: #a5a4a5;
  padding-top: 20px;
}


.search-input-flex-container {
  border: 1px solid green;
}

.results-flex-container {
  border: 1px solid green;
}

.input-field-container {
  width: 100%
}
