.session-form-wrapper {
  margin: 0 auto;
  position: relative;
  width: 1080px;
  box-sizing: border-box;
  outline: none;
}

.session-container {

}

.session-form input {
  display: block;
  margin: auto;
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  height: 25px;
}

.session-form input[type="submit"], .session-form button {
  display: inline-block;
  width: 30%;
  margin-left: 10px;
  margin-right: 10px;
  height: 50px;
}
