.song-index-flex-container {
  // border: 1px solid white;
  flex-wrap: nowrap;
  padding-top: 30px;
}

.song-item-flex-cotainer:hover{
  // background-color: rgba(76, 175, 80, 0.22);
  border-bottom: 1px solid #1db954;
}

.song-item-flex-cotainer {
  // border: 1px solid white;
  // height: 200px;
  color: #969494;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  margin: 5px;
  min-height: 40px;
  border-radius: 5px;
  padding: 5px 0 5px 10px;
  border-bottom: 1px solid rgba(0,0,0,0);
  font-size: 20px;
}

.song-left-details{
}

.song-detail-items {
  width: 100%
}

.song-title-container{
  align-self: flex-start;
  flex: 1;
}

.song-details {
  justify-content: space-between;

}
.song-left-details {
  margin-right: 10px;
  justify-content: space-between;
  width: 10%;
}

.pl-detail-delete-song:hover{
  color: red;
}

.pl-detail-delete-song, .pl-detail-add-song {
  cursor: pointer;
}

.pl-detail-delete-song:hover{
  color: #8c2020;
}

.pl-detail-add-song:hover{
  color: #1db954
}

.song-detail-artist-name{
      width: 10%;
}
