.user-thumb-flex-container{
  height: 150px;
}

.user-thumb-image-container{
  justify-content: center;
}
.user-thumb-image-container img{
  width: 120px;
  height: 120px;
  border-radius: 100px;
  cursor: default;
}


.user-thumb-details-container {
  justify-content: center;
  margin-left: 20px;
}

.user-thumb-name-container{
  font-weight: bold;
  font-size: 50px;
  text-transform: uppercase;
  justify-content: center;
}

.user-thumb-actions-cotainer{
  justify-content: flex-start;
}

.btn-friend {
  width: 150px;
  height: 40px;
  margin: 10px;
  font-size: larger;
}

.user-mini-image img{
  width: 150px;
  height: 150px;
  border-radius: 100px;
}
.user-mini-image {
  justify-content: center;
  // border: 1px solid red;
}

.user-mini-details {
  justify-content: center;
  // border: 1px solid green;
  width: 250px;
  margin-left: 20px;
}

.user-mini-username {
  font-weight: bold;
  font-size: 50px;
  text-transform: uppercase;
}

.mini-user-display {
  // border: 1px solid yellow;
  justify-content: center;
  width: 400px;
  padding: 15px;
}

.user-mini-pl-details {
  font-family: 'Open Sans', sans-serif;
}

.user-mini-image:hover img {
  opacity: 0.2
}


.current-user-flex-container{
  // border: 1px solid pink;
  justify-content: flex-start;
  color: #a5a4a5;
}

.current-user-image {
  // border: 1px solid white;
}

.current-user-image img {
  width: 50px;
  height: 50px;
  cursor: default;
  border-radius: 100px;
}

.current-user-details{
  // border: 1px solid yellow;
  width: 100%;
  justify-content: space-around;
  margin-left: 5px;
}


.current-user-name{
  // border: 1px solid red;
  font-size: 30px;
  justify-content: center;
}

.current-user-logout-action{
  // border: 1px solid green;
  justify-content: center;
  cursor: pointer;
}


.current-user-logout-action:hover{
  color: #1db954;
}
