<!DOCTYPE html>
<html>
  <head>
    <title>AxoMusic</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="vbox viewport">
    <%= yield %>
  </body>
</html>
